<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Advanced DB Program Main</title>
  </head>

    <div>

      <!--TODO: CHANGE HEADER NAME RELATIVE TO ADVANCED PROGRAM-->
      <h2>Verify Meal Removal:</h2>

      <!--delete-->
      <form method="POST" class="advdbprog" novalidate="">
        <div class="form-group">

        {{form.hidden_tag()}}

        {{form.mealID.label() }}
        {{form.mealID(class="form-control",placeholder="Required")}}

        <div class="form-group">

        <div class="form-group m-0">
							
            {{form.submitted(class = "btn btn-block btn-info")}}
        </div>
      <br /><br />
    </div>
  </body>
</html>