<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>

  <body>
    <div>
      <h2>Search Operations:</h2>
      <!--Search Main-->
      <div class="login_button" style="width:50%">
        
        <a href="searchmain.html">Search Main</a>
      <!--Search Query 1-->
      <br><br>
        <a href="resultsq1.html">Advanced Query 1</a>
      <!--Search Query 2 -->
      <br><br>
        <a href="resultsq2.html">Advanced Query 2</a>
    </div>
    <br/><br/>

    <div>
      <h2>Update Student Database:</h2>
      <div class="login_button" style="width:50%">
        <!--insert-->
            <a href="insertmain.html">Insert</a>
        <!--update-->
            <br><br>
            <a href="updatemain.html">Update</a>
        <!--delete-->
            <br><br>
            <a href="deletemain.html">Delete</a>
    </div>
    <br/><br/>

    <div>
      <h2>Advanced Database Program:</h2>
      <div class="login_button" style="width:50%">
        <!--insert-->

            <!--TODO: CHANGE HEADER NAME RELATIVE TO ADVANCED PROGRAM-->
            <a href="advdbprog.html">Advanced Query</a>
            <br><br>
            <a href="search_rests.html">Search Restrictions</a>
    </div>

    <div>
      <h2>Creative Component:</h2>
      <div class="login_button" style="width:50%">
        <!--insert-->

            <!--TODO: CHANGE HEADER NAME RELATIVE TO ADVANCED PROGRAM-->
            <a href="creativecomp.html">Directions</a>
    </div>
    <br/><br/>
  </body>
</html>
