<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update Main</title>
  </head>

    <div>
      <h2>Update Student Name:</h2>
      <!--update-->
      <form method="POST" class="update" novalidate="">
        <div class="form-group">

        {{form.hidden_tag()}}

        {{form.studentID.label() }}
        {{form.studentID(class="form-control",placeholder="Required")}}
        {{form.studentName.label() }}
        {{form.studentName(class="form-control", placeholder="Required")}}

        <div class="form-group">

        <div class="form-group m-0">
							
            {{form.submitted(class = "btn btn-block btn-info")}}
        </div>
      </form>
      <br /><br />
    </div>
  </body>
</html>